<footer class="section section-contact">
  <h2 class="section-title visuallyhidden">Kontakt</h2>

  <span>Anders Lagerman</span>
  <span class="visuallyhidden">Löth Läderhantverk</span>
  <span>Dalebo Yxered 590 92 Totebo</span>
  <span>0490-51019</span>
  <span>070-326 48 39</span>
  <span><a href="mailto:anders@lothlader.se">anders@lothlader.se</a></span>

</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/jcarousel/0.3rc1/jquery.jcarousel.min.js"></script>
<script src="//cdn.jsdelivr.net/jquery.mixitup/2.1.5/jquery.mixitup.min.js"></script>

<script>
  $(document).ready(function() {
    $(".gallery").jcarousel({ animation: { duration: 250 } });

    $(".prev")
      .on("jcarouselcontrol:active", function() { $(this).removeClass("inactive"); })
      .on("jcarouselcontrol:inactive", function() { $(this).addClass("inactive"); })
      .jcarouselControl({ target: "-=1" });

    $(".next")
      .on("jcarouselcontrol:active", function() { $(this).removeClass("inactive"); })
      .on("jcarouselcontrol:inactive", function() { $(this).addClass("inactive"); })
      .jcarouselControl({ target: "+=1" });

    $(".section-products").mixItUp({ animation: { duration: 250 }, selectors: { target: ".product" } });

    $(".filter").click(function(event) { event.preventDefault(); });
  });
</script>

<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-52381037-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
  })();
</script>
