<div id="fb-root"></div>

<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=767596099929229&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<div class="share fx-transparent">
  <div class="fb-share-button" data-href="http://www.lothlader.se/" data-type="button"></div>
</div>

<header class="section">
  <img src="/images/logotype.png" width="500" class="site-logotype" alt="Löth Läderhantverk logotype">

  <h1 class="site-title visuallyhidden">{{ site.title }}</h1>
  <p class="site-description">{{ site.description }}</p>
</header>
